# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Packer
packer/packer_cache/
packer/*.log
packer/variables.pkrvars.hcl

# Ansible
ansible/files/kubeconfig.yml
ansible/*.retry

# Secrets
*.pem
*.key
id_rsa*

# OS
.DS_Store
Thumbs.db
